In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('filtered_sample.csv')
df.head()
df

,Unnamed: 0,ACCIDENT_ID,ACCIDENT_MONTH,ACCIDENT_YEAR,ROADTYPE_ID,ROADSKIN_ID,ACDPOINT_ID,ATMOSPHERE_ID,LIGHT_ID,PERSON_AGE,PERSON_STATE
0,2,3,8,14,4,1,1,1,3,3,0
1,59,60,7,13,1,1,1,1,1,4,1
2,60,61,7,13,1,1,1,1,1,4,1
3,62,63,10,12,1,1,1,1,3,3,1
4,63,64,10,12,1,1,1,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...
132878,177810,177811,12,12,1,1,1,2,3,2,0
132879,177811,177812,1,13,2,1,1,1,1,3,0
132880,177812,177813,12,12,1,1,1,1,1,3,0
132881,177813,177814,12,12,4,1,3,4,1,4,0
132882,177814,177815,12,12,3,1,1,1,2,2,0

In [3]:
total = df.groupby(df.PERSON_STATE)["ACCIDENT_ID"].describe()['count'].sum()
print(df.groupby(df.PERSON_STATE)["ACCIDENT_ID"].describe()['count']/total)

PERSON_STATE
0    0.814446
1    0.180444
2    0.005110
Name: count, dtype: float64

In [3]:
df0 = df[df["PERSON_STATE"]==0]
df1 = df[df["PERSON_STATE"]==1]
df2 = df[df["PERSON_STATE"]==2]

In [4]:
print("State 0")
total = df0.groupby(df0.ROADTYPE_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df0.groupby(df0.ROADTYPE_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df0.groupby(df0.ROADSKIN_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df0.groupby(df0.ROADSKIN_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df0.groupby(df0.ACDPOINT_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df0.groupby(df0.ACDPOINT_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df0.groupby(df0.ATMOSPHERE_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df0.groupby(df0.ATMOSPHERE_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df0.groupby(df0.LIGHT_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df0.groupby(df0.LIGHT_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df0.groupby(df0.PERSON_AGE)["ACCIDENT_ID"].describe()['count'].sum()
print(df0.groupby(df0.PERSON_AGE)["ACCIDENT_ID"].describe()['count']/total)

State 0
ROADTYPE_ID
1    0.414411
2    0.131660
3    0.138211
4    0.315248
5    0.000471
Name: count, dtype: float64
ROADSKIN_ID
1    0.878125
2    0.080674
3    0.040591
4    0.000610
Name: count, dtype: float64
ACDPOINT_ID
1    0.651526
2    0.174819
3    0.163500
4    0.002375
5    0.007780
Name: count, dtype: float64
ATMOSPHERE_ID
1    0.894120
2    0.034058
3    0.053592
4    0.018230
Name: count, dtype: float64
LIGHT_ID
1    0.658354
2    0.193410
3    0.148236
Name: count, dtype: float64
PERSON_AGE
1    0.110362
2    0.307080
3    0.544592
4    0.037967
Name: count, dtype: float64

In [5]:
print("State 1")
total = df1.groupby(df1.ROADTYPE_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df1.groupby(df1.ROADTYPE_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df1.groupby(df1.ROADSKIN_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df1.groupby(df1.ROADSKIN_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df1.groupby(df1.ACDPOINT_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df1.groupby(df1.ACDPOINT_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df1.groupby(df1.ATMOSPHERE_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df1.groupby(df1.ATMOSPHERE_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df1.groupby(df1.LIGHT_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df1.groupby(df1.LIGHT_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df1.groupby(df1.PERSON_AGE)["ACCIDENT_ID"].describe()['count'].sum()
print(df1.groupby(df1.PERSON_AGE)["ACCIDENT_ID"].describe()['count']/total)

State 1
ROADTYPE_ID
1    0.622863
2    0.158812
3    0.077863
4    0.139711
5    0.000751
Name: count, dtype: float64
ROADSKIN_ID
1    0.892526
2    0.071899
3    0.034698
4    0.000876
Name: count, dtype: float64
ACDPOINT_ID
1    0.651722
2    0.185503
3    0.157102
4    0.002335
5    0.003336
Name: count, dtype: float64
ATMOSPHERE_ID
1    0.864251
2    0.045500
3    0.068062
4    0.022187
Name: count, dtype: float64
LIGHT_ID
1    0.571983
2    0.223788
3    0.204229
Name: count, dtype: float64
PERSON_AGE
1    0.055092
2    0.234840
3    0.630328
4    0.079740
Name: count, dtype: float64

In [6]:
print("State 2")
total = df2.groupby(df2.ROADTYPE_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df2.groupby(df2.ROADTYPE_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df2.groupby(df2.ROADSKIN_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df2.groupby(df2.ROADSKIN_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df2.groupby(df2.ACDPOINT_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df2.groupby(df2.ACDPOINT_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df2.groupby(df2.ATMOSPHERE_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df2.groupby(df2.ATMOSPHERE_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df2.groupby(df2.LIGHT_ID)["ACCIDENT_ID"].describe()['count'].sum()
print(df2.groupby(df2.LIGHT_ID)["ACCIDENT_ID"].describe()['count']/total)
total = df1.groupby(df1.PERSON_AGE)["ACCIDENT_ID"].describe()['count'].sum()
print(df1.groupby(df1.PERSON_AGE)["ACCIDENT_ID"].describe()['count']/total)

State 2
ROADTYPE_ID
1    0.615611
2    0.150221
3    0.086892
4    0.147275
Name: count, dtype: float64
ROADSKIN_ID
1    0.883652
2    0.085420
3    0.030928
Name: count, dtype: float64
ACDPOINT_ID
1    0.652430
2    0.217968
3    0.114875
4    0.010309
5    0.004418
Name: count, dtype: float64
ATMOSPHERE_ID
1    0.879234
2    0.029455
3    0.067747
4    0.023564
Name: count, dtype: float64
LIGHT_ID
1    0.559647
2    0.226804
3    0.213549
Name: count, dtype: float64
PERSON_AGE
1    0.055092
2    0.234840
3    0.630328
4    0.079740
Name: count, dtype: float64

In [7]:
total = df.groupby(df.PERSON_AGE)["ACCIDENT_ID"].describe()['count'].sum()
print(df.groupby(df.PERSON_AGE)["ACCIDENT_ID"].describe()['count']/total)

PERSON_AGE
1    0.100246
2    0.293837
3    0.560290
4    0.045627
Name: count, dtype: float64

In [4]:
(0.814)*(0.414)*(0.878)*(0.651)*(0.894)*(0.658)*(0.544)

0.061639990426173165

In [5]:
0.180444*0.622*0.892*0.651*0.864*0.571*0.055

0.0017684435998836687

In [7]:
0.005*0.615*0.883*0.652*0.879*0.559*0.087

7.56786462945669e-05